<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW4zMB91ZxzrCgtkq4ZkXrJWCHe4_wlh4</string>
	<key>GCM_SENDER_ID</key>
	<string>654774386169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daveregehr.wohaho.quizio</string>
	<key>PROJECT_ID</key>
	<string>ohowow-b024a</string>
	<key>STORAGE_BUCKET</key>
	<string>ohowow-b024a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654774386169:ios:4d982fc978b907f81b5128</string>
</dict>
</plist>